.burger-menu-first-line-rotate {
  transform: rotate(45deg) translateX(0.3rem) translateY(0.3rem);
}

.burger-menu-last-line-rotate {
  transform: rotate(-45deg) translateX(0rem) translateY(-0.1rem);
}

.transition-all-children * {
  transition: all 0.2s ease;
}

.w-input {
  width: min(24rem, 90vw);
}

.transform-input-label {
  transform: translate(0, -1rem);
}
